.fourth-section-projects{
    background-color: $bg-color;
    .projects-box{
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .heading{
            margin-bottom: 5rem;
            font-size: 8rem;
            text-align: center;
            margin: 5rem 0;
        }
        .wrapper{
            display:grid;
            grid-template-columns:  repeat(auto-fill, minmax(450px, 1fr));
            gap: 3rem;
            min-width: 100%;
            padding: 10rem 15%;
            .project-item{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 70rem;
                background: rgba(0,0,0,0.7);
                border: 3px solid rgba(238,238,238,0.2);
                border-radius: 2rem;
                margin: 0 2rem;
                padding: 20px;
                h2{
                    font-size: 2.8rem;
                    padding-bottom: 15px;
                    color: $main-color;
                }
                h3{
                    font-size: 2rem;
                    font-weight: 300;
                    margin-top: -20px;
                    margin-bottom: 20px;
                }
                .mySwiper{
                    width: 100%;
                    .swiper-wrapper{                        
                        display: flex;
                        align-items: center;
                        .swiper-slide{
                            width: 100%;
                            img{
                                width: 404px;
                                max-width: 100%;
                                border-radius: 20px;
                                height: 404px;
                                aspect-ratio: 1;
                            }
                        }                
                    }
                    .swiper-button-next, .swiper-button-prev {
                        color: $main-color;
                        z-index: 10;
                        &::after {
                            font-size: 3rem;
                            font-weight: 800;
                        }
                    }
                }
                p{
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.7;
                    padding: 20px 0;
                }
            }
        }
    }
}